# Example .env file

# MongoDB connection URI
MONGODB_URI=mongodb://localhost:27017/mydatabase

# Application port
PORT=3000

# Environment mode
NODE_ENV=development

# JWT Secret
JWT_SECRET=your_jwt_secret_key